
/* ======================Nav================ */

nav ul{
    display: grid;
    grid-gap: 20px;
    list-style-type: none;
    grid-template-columns: repeat(3, 1fr);
}

nav a{
    background-color:var(--dark);
    display: block;
    text-decoration: none;
    padding: .8rem;
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

nav a:hover {
    background: var(--light);
    color: var(--dark);
    text-decoration: none;
    padding: .10rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}
/* ========================    =============== */